[Unit]
Description=Check the battery level every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
# Let systemd coalesce this wakeup with others to save battery.
AccuracySec=1min
Persistent=false

[Install]
WantedBy=timers.target
